<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Přihlášení</title>
    <style>

    </style>
</head>
<body>

    <h2>Přihlášení do systému</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">
        <div style="margin-bottom: 10px;">
            <label>Email:</label><br>
            <input type="email" name="email" required autofocus>
        </div>
        
        <div style="margin-bottom: 10px;">
            <label>Heslo:</label><br>
            <input type="password" name="password" required>
        </div>

        <button type="submit">Přihlásit se</button>
    </form>

</body>
</html>